@import '../../../framework/scss/breakpoints.scss';

.price-tag {
  h3 {
    font-weight: 400;
  }

  .product-info & {
    @include breakpoint(medium) {
      position: absolute;
      right: 0;
    }
  }

  .product-heading--is-list-item & {
    background: #000e22;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    padding: 0 10px;
    position: absolute;
    right: 0;

    @include breakpoint(medium) {
      padding: 0 20px;
    }
  }

  @include breakpoint(medium) {
    .product-heading--is-list-item:hover & {
      background: rgba(#000e22, 0.6);
    }
  }
}
