@import '../../../framework/scss/globals.scss';

.product-list-item {
  border-bottom: 1px solid $darknavy;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;

  @include breakpoint(medium) {
    &:hover {
      border-color: rgba($darknavy, 0.6);
    }
  }

  &__wrapper {
    align-items: center;
    display: flex;
  }
}
