.product-heading {
  margin-left: 10px;
  max-width: 500px;
  text-transform: uppercase;
  h3 {
    align-items: center;
    display: flex;
    position: relative;
  }

  &--is-list-item {
    margin-left: unset;
    max-width: unset;
    width: 100%;
  }
}
