@import '../../framework/scss/globals.scss';
@import '../../framework/scss/breakpoints.scss';

.modal {
  background-color: rgba(#000, 0.4);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  @include breakpoint(medium) {
    @include GridWrapper();
  }

  &__close {
    background: none;
    border: 1px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    float: right;
    height: 40px;
    position: relative;
    width: 40px;

    &:after,
    &:before {
      border: 1px solid #000;
      content: '';
      left: 9px;
      position: absolute;
      width: 50%;
    }

    &:after {
      transform: rotate(-45deg);
    }
    &:before {
      transform: rotate(45deg);
    }

    &:hover {
      border-color: #000;
      transition: all 0.3s;
    }
  }

  &__content {
    background-color: #fff;
    margin: 100px 0px;
    width: 100%;

    @include breakpoint(medium) {
      @include GridContent();
      padding: 30px;
      width: calc(100% - 60px);
    }
  }
}
