@import '../../framework/scss/globals.scss';

.modal {
  background-color: rgba($black, 0.4);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  @include breakpoint(medium) {
    @include GridWrapper();
  }

  &__close {
    background: none;
    border: 1px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    float: right;
    height: 40px;
    margin: 10px 10px 0 0;
    position: relative;
    width: 40px;

    &:after,
    &:before {
      border: 1px solid $black;
      content: '';
      left: 9px;
      position: absolute;
      width: 50%;
    }

    &:after {
      transform: rotate(-45deg);
    }
    &:before {
      transform: rotate(45deg);
    }

    &:hover {
      border-color: $black;
      transition: all 0.3s;
    }
  }

  &__content {
    background-color: $white;
    margin: 100px 0px;
    width: 100%;

    @include breakpoint(medium) {
      @include GridContent();
    }
  }
}
