@import '../../../framework/scss/breakpoints.scss';

.product-heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  overflow: auto;
  position: relative;
  text-transform: uppercase;

  @include breakpoint(medium) {
    flex-direction: row;
  }

  &--is-list-item {
    flex-direction: row;
    margin-left: unset;
    max-width: unset;
    width: 100%;
  }
}
