@import './breakpoints.scss';

@mixin GridWrapper() {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    '. a a a a .'
    '. a a a a .';
}

@mixin GridContent() {
  grid-area: a;
  justify-self: center;
  width: 100%;
}

.content {
  @include breakpoint(medium) {
    @include GridContent();
  }
}

.wrapper {
  padding: 0 20px;

  @include breakpoint(medium) {
    @include GridWrapper();
    padding: 0;
  }
}
